.card {
  max-width: 304px;
  max-height: 504px;
  border-radius: 8px;
  border: 1px solid;
}

.content {
  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: 16px;
}

.card-image {
  height: 100%;
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.rounded-header-box {
  background-color: var(--color-green-50);
  border-radius: 9999px;
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid var(--color-green-200); /* width style color */
}

.rounded-header-box-text {
  color: var(--color-green-700);
}

.title {
  margin-top: 5px;
}

.subtitle {
  margin-top: 6px;
}

.button-container {
  margin-top: 18px;
}
