.text-base {
  font-family: var(--font-family-sans);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
}

.text-lg {
  font-family: var(--font-family-sans);
  font-size: var(--font-size-lg);
  line-height: var(--line-height-lg);
}
