@import url('./styles/base/reset.css');
@import url('./styles/base/colors.css');
@import url('./styles/base/typography.css');
@import url('./styles/utilities/text.css');
@import url('./styles/components/card.css');
@import url('./styles/components/button.css');

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100vh;
}
